.container-home {
  margin: 3rem 8rem 3rem 12rem;
  font-size: var(--fsize-md);
}

.title-home {
  display: flex;
  justify-content: space-between;
}

.box-expense {
  border: 0.1rem solid var(--color-medium-gray);
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 3rem;
}